﻿@model GestionBancaireFrontEnd.Models.CardType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CardType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Background)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Background)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumWithdrawalPerWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumWithdrawalPerWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeesPerYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeesPerYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowNegativeBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowNegativeBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NegativeBalanceLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NegativeBalanceLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NegativeBalanceFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NegativeBalanceFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
