﻿@model IEnumerable<GestionBancaireFrontEnd.Models.CardType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Background)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumWithdrawalPerWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeesPerYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowNegativeBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NegativeBalanceLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NegativeBalanceFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Background)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumWithdrawalPerWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeesPerYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowNegativeBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NegativeBalanceLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NegativeBalanceFees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
