﻿@model GestionBancaireFrontEnd.Models.Card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardHolderFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardHolderFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ccv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ccv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpendingLimitPerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingLimitPerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Network)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Network)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
