﻿@model IEnumerable<GestionBancaireFrontEnd.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardHolderFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ccv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpendingLimitPerMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Network)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardHolderFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ccv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpendingLimitPerMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Network)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
